# Use the Geocoder package or the csv file to create dataframe with longitude and latitude values

In [20]:
import pandas as pd
df_lon_lat = pd.read_csv('Toronto_long_lat_data.csv')
df_lon_lat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [21]:
df_lon_lat.columns=['Postalcode','Latitude','Longitude']

In [22]:
df_lon_lat.head()

  Postalcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

## Preciso dar um merge das coordenadas com o dataframe limpo da primeira quest√£o como fazer isso?

In [23]:
Toronto_df = pd.merge(df_new,
                 df_lon_lat[['Postalcode','Latitude', 'Longitude']],
                 on='Postalcode')
Toronto_df

NameError: name 'df_new' is not defined